*{
   margin: 0;
   padding: 0;
}
   body{
      font-family: "Madimi One", sans-serif;
      font-weight: 400;
      font-style: normal;
    }
    .cabecalho {
   background-color: #072d6b;
   color: white;
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding: 24px 0;
}

.cabecalho-imagem{
   width: 15%;
}

.cabecalho-lista-item{
   display: inline-block;
   margin: 0 16px;
   font-size: 40px;
}
.memes-imagem{
   width: 25%;
}
.memes{
   background-image:linear-gradient(#072d6b,#97bbf6);
   color: black;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 24px 0;
}
.memes-div-conteudo{
   width: 75%;
}
.memes-titulo{
   padding: 24px 0;
}
.meme-imagem{
   width: 120px;
}